.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .input-container {
    display: flex;
    margin-bottom: 20px;
  }
  
  .input-field {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .add-btn {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .grocery-list {
    list-style: none;
    padding: 0;
  }
  
  .grocery-list li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  .completed .grocery-name {
    text-decoration: line-through;
    color: #999;
  }
  
  .checkbox {
    margin-right: 10px;
  }
  
  .delete-btn {
    margin-left: auto;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  .clear-btn{
    background-color:green;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    border: none;
  }
  